services:
  dev:
    build:
      context: .
      target: deps
    user: "1000:1000"
    command: npm run dev
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "127.0.0.1:3002:3001"
    env_file: .env.local
    environment:
      - NODE_ENV=development
